@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&family=Roboto+Condensed&family=Yeon+Sung&family=Staatliches&family=Roboto+Mono&display=swap");

/* 
font-family: 'Rajdhani', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto Mono', monospace; 
font-family: 'Yeon Sung', cursive;
font-family: 'Staatliches', cursive;
*/

body {
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

body::after {
  content: "";
  background: url(https://images.pexels.com/photos/5648034/pexels-photo-5648034.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* background-size: 100% 50%; */
  opacity: 0.9;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

h1 {
  color: white;
  text-align: center;
  font-size: 4em !important;
  font-family: "Staatliches", cursive;
  padding-bottom: 20px;
  text-align: center;
}

nav a,
form {
  padding: 0 60px;
}

nav a {
  font-family: "Yeon Sung", cursive;
}

/* Search bar */
input[type="text"] {
  padding: 6px;
  font-size: 16px;
  border: none;
  outline: none;
  border-bottom: 1px solid #4dd0e1;
  box-shadow: 0 2px 0 0 #4dd0e1;
  width: 400px !important;
}

input[type="submit"] {
  padding: 7px;
  font-size: 16px;
  width: 80px !important;
  border-radius: 4px;
  background-color: #1bc74e;
  color: white;
  border: none;
}

input[type="text"]:focus {
  border: none;
  width: 600px !important;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

button:focus {
  outline: none;
}

.more {
  position: absolute;
  top: 92%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: inline-block;
  height: 40px;
  padding: 0px 40px;
  background: #1bc74e;
  border: none;
  font: 14px "Varela Round";
  color: #fff;
  border-radius: 100px;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.more:after {
  content: "";
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  border: solid 2px;
  border-color: #fff transparent transparent transparent;
  border-radius: 100%;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  animation: spin 1s infinite;
  transform-origin: 0 0;
}

.more.load {
  padding: 0px 0px;
  width: 40px;
  height: 40px;
}

.more.load span {
  opacity: 0;
}

.more.load:after {
  display: block;
}

@keyframes spin {
  from {
    transform: rotate(0) translate(-50%, -50%);
  }
  to {
    transform: rotate(360deg) translate(-50%, -50%);
  }
}

/* Media Query */
@media only screen and (max-width: 1000px) {
  .navbar {
    margin: 0 auto;
    display: table;
    margin-right: auto !important;
  }
  h1 {
    font-size: 1.3em !important;
  }
  nav form {
    display: none;
  }
  /* Search bar */
  input[type="text"] {
    padding: 6px;
    font-size: 16px;
    border: none;
    outline: none;
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 2px 0 0 #4dd0e1;
    width: 100% !important;
  }
  input[type="submit"] {
    padding: 7px;
    font-size: 16px;
    border-radius: 4px;
    background-color: #1bc74e;
    color: white;
    border: none;
  }
  input[type="text"]:focus {
    border: none;
    width: auto !important;
  }
  div.form {
    display: block;
    text-align: center;
  }
  div.form form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }
}
