@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&family=Roboto+Condensed&family=Roboto+Mono&display=swap");

/* 
font-family: 'Rajdhani', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto Mono', monospace; 
*/

body {
  font-family: "Rajdhani", sans-serif;
  text-align: center;
  margin: 0;
}
