{% extends "base.html" %} 
{% block content %}
<hr> 
<h2 style="text-align: center">{{ search | title }} Jobs</h2>
<br>

<div class="row">
    {% for post in final_posts %}
    <div class="col-sm-4">
      <div class="card">
            <div class="card-body">
              <a href="{{post.7}}">
                <h4 class="card-title">{{post.0}}</h4></a>

                <h6 class="card-title">{{post.1}}</h6>

                <h6 class="card-title">{{post.2}}</h6>

                <h6 class="card-title">{{post.3}}</h6>

                <h6 class="card-title"> <b>Requirements</b>:  {{post.4}}</h6> 

                <p class="card-text"> {{ post.5 }} </p>

                <small class="card-text"> {{ post.6 }} </small>
            </div>
      </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}
