{% extends "base.html" %} 
{% block content %}

<br>

<div class="row card-group main-content">
    {% for post in final_posts %}
    <div class="col-lg-4 col-md-6 col-sm-12 even">
       <div class="card border-bottom-0 border-right-0 border-left-0">
            <div class="card-body text-center">
              <a href="{{post.7}}" target="_blank">
                <h4 class="card-title">{{post.0}}</h4></a>

                <h6 class="card-title">{{post.1}}</h6>

                <h6 class="card-title">{{post.2}}</h6>

                <h6 class="card-title">{{post.3}}</h6>

                <h6 class="card-title"> <b>Requirements</b>:  {{post.4}}</h6> 

                <p class="card-text"> {{ post.5 }} </p>

                <small class="card-text"> {{ post.6 }} </small>

                <a href="{{post.7}}" target="_blank">
                <button class="more"><span>Apply now!</span></button> </a>
            </div>
       </div>
    </div>
    {% endfor %}
</div>



{% endblock content %}
